<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <title>Home - HCA</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <!-- Navigation -->
     <%- include("includes/nav") %>

    <!-- Hero Section -->
    <%- include("main/hero") %>

    <!-- Announcements Section -->
    <%- include("main/announcement") %>

    <!-- Why Choose HCA Section -->
    <%- include("main/why-choose") %>

    <!-- Stats Section -->
    <%- include("main/stats") %>

    <!-- Features Section -->
    <%- include("main/features") %>

    <!-- YouTube Section  -->
     <%- include("main/youTube") %>

    <!-- Contact Section -->
    <%- include("main/contact") %>

    <!-- Map Section -->
     <%- include("main/map") %>

    <!-- Footer -->
     <%- include("includes/footer") %>

    <!-- Scripts -->
    <script src="/js/index.js"></script>
    <script src="/js/footer-animations.js"></script>
</body>
</html>